// -----------------------------------------------------------------------------
// This file contains all variable
// -----------------------------------------------------------------------------


// Variables
$footer-background:         #041839;

// Colors
$white:         #ffffff;
$black:         #000000;